.main {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 1px 1px 15px green;
  text-align: center;
}

.conversion {
  text-align: center;
  font-weight: 700;
  margin-top: 2%;
  margin-left: 33%;
  margin-right: 33%;
  box-shadow: 1px 1px 15px rgb(0, 0, 0);
}

.appendFullList {
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 205px;
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}  

.showFullList {
  display: none;
  text-align: center;
  margin-top: 2%;
}

